<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ох и тяжела шапка</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
</head>
<body>
<h3>Список дел</h3>
<div class="authUser">
    <span class="authUser__name">Вы залогинились как {{user.username}}</span>
    <!--<button class="authUser__button">Loggout</button>-->
    <a href="/logout">LOGOUT</a>
</div>
<hr>
    <ul id="listTasks">
        {{#each list}}
            <li {{#if this.ready}}
                    class="task_ready"
                {{/if}}>
                <!--{{#if this.ready}}-->
                <!--{{/if}}>-->
                <span>{{this._id}}</span>
                . {{this.name}}
                <button class="buttonDelete buttonDelete_{{this.id}}">Удалить</button>
                <button class="buttonComplete buttonComplete_{{this.id}}">Закончено</button>
            </li>
        {{/each}}
    </ul>
<hr>
<h4>Новое задание</h4>
<form name='formNewTask' action='./index.js' method='post'>
    <fieldset>
        <label> Название задания
            <input type="text" name="nameTask" style="width:400px">
        </label>
        <input type="submit" value="Сохранить">
        <input type="reset" value="Сбросить">
    </fieldset>
</form>
<script>
    $(function() {
        // навешиваем обработчики на форму создания нового задания
        $('form').on('submit', (e) => {
            e.preventDefault();
            const valueInput = $('form input[name="nameTask"]').val();
            const titleNewTask = JSON.stringify( { nameTask : valueInput} );
            $.ajax({
                type : 'post',
                url : 'http://localhost:8888/tasks',
                contentType : 'application/json',
                dataType : 'json',
                data : titleNewTask,
                success : (response) => {
                    console.log('ответ от сервера', response);
                    location.reload(true)
                },
                error : (err) => {
                    console.log('err', err.message);
                }
            });
        });

        // навешиваем обработчики на кнопку Закончено
        $('.buttonComplete').on('click', (e) => {

            const value = JSON.stringify( { value : $(e.target).parent().find('span').text()} );

            $.ajax({
                type : 'put',
                url : 'http://localhost:8888/complete',
                contentType : 'application/json',
                dataType : 'json',
                data : value,
                success : (response) => {
                    console.log('ответ от сервера', response);
                    location.reload(true)
                },
                error : (err) => {
                    console.log('err', err.message);
                }
            });
        });

        // навешиваем обработчики на кнопку Delete
        $('.buttonDelete').on('click', (e) => {

            const value = JSON.stringify( { value : $(e.target).parent().find('span').text()} );

            $.ajax({
                type : 'delete',
                url : 'http://localhost:8888/delete',
                contentType : 'application/json',
                dataType : 'json',
                data : value,
                success : (response) => {
                    console.log('ответ от сервера', response);
                    location.reload(true)
                },
                error : (err) => {
                    console.log('err', err.message);
                }
            });
        });
        // обработчик на кнопку логаут
        $('.authUser__button').on('click', (e) => {
            $.ajax({
                type : 'get',
                url : 'http://localhost:8888/logout',
                // contentType : 'application/json',
                dataType : 'json',
                // data : value,
                success : (response) => {
                    console.log('ответ от сервера на logout', response);
                    location.reload(true)
                },
                error : (err) => {
                    console.log('err', err.message);
                    location.reload(true)
                }
            });
        });

    })
</script>
</body>
</html>